
<h3 class="mb-3"><a href="{{ .Permalink }}">{{ .Title }}</a>
  <span style="font-size: 18px;color:gray;">{{ .Date | dateFormat "2006/01" }}</span>
</h3>
<div class="resume-item d-flex flex-column flex-md-row mb-3">

  <div class="resume-content" style="width:200px;margin-right: 20px;">
    {{with  .Params.image }}
      <img src="{{ . }}" style="max-height:150px;max-width:150px;"/>
    {{ end }}
  </div>
  <div class="resume-date">
    <p>{{ .Description | safeHTML }}<p>
    <p class><a href="{{.Permalink}}">Read more..</a></p>
  </div>
</div>
<div>{{ partial "techtags" . }}</div>
